@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;900&display=swap');



*{  
   
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
   
}
body{
    width: 100%;
    transition: background 1s;
    background-color: #0e0c1a;
    

}


/*-------------------*/
header{
    top: 0;
    z-index: 1;
    width: 100%;
   display: flex;
   position: fixed;
   align-items: center;
   text-align: center;
   justify-content: center;
   background-color: #0c0d1a;
   border-bottom:  1px solid #380427;
   
   
    
   
}




.logo:hover{
    transform: scale(1.5,1.5);
    

}


.menu{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
    
    width: 100%;
}


.menu ul{
    
    display: flex;
    flex-wrap: wrap;
}


.menu li{
   
    margin-left: 30px;
    flex-wrap: wrap;
    

}

.menu a{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    

}

.menu a:hover{
    color: #9815cc7a;
}
.menu__mobile{
    margin-top: 90px;
    position: fixed;
    z-index: 1;
    
    
    padding: 0 0 200%;
    background-color:#02050f;
}

.mobile__menu{
    
    margin-right: 20px;
    display: none;
    cursor: pointer;

    
    
}

.mobile__menu .linha {
    cursor: pointer;
    width: 35px;
    height: 4px;
    background-color: #45265e;
    margin: 6px;
    border-radius: 50px;
    
   
}
.menu__mobile{
    display: none;

    


}
.menu__mobile li{
    margin: 40px;
    
}
.menu__mobile li a{
    color: #ffff;
    font-size: 35px;
   

}
.menu__mobile li a:hover{
    color: #9815cc7a ;
}

 


@media screen and (max-width:730px) {
   
   
    .menu{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        width: 100%;
        text-align: center;
        
    }
    .menu ul{
        display: none;
    }
    .logo:hover{
        transform: scale(1.2, 1.2);

    }
    .mobile__menu{
        display: block;
    }
    .mobile__menu button{
        cursor: pointer;
        background: transparent;
        border: none;
    }
    .menu__mobile{
        width: 100%;
        
    }

    .menu__mobile ul{
        display: flex;
        
        width: 100%;
        
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu__mobile li{
        display: block;
        margin-top: 10px;
        width: 100%;
       
    }
    .open{
        display: block;
        filter: blur(0px);
        
    }
    
}

/*-------------------*/

#container__apresentacão{
    background: linear-gradient(rgba(236, 217, 241, 0.356), rgba(36, 35, 35, 0.205) ), url(https://github.com/JeffMrCastro/portfolio/blob/main/assets.img/back-fundo.jpeg?raw=true );
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 120vh;
    top: 100px;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}


.apresentação{
    margin-top: 12rem;
    width: 100%;
    direction: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
}


#hello__I__am{
    width: 100%;
    font-weight: 900;
    font-size: 50px;
    color: #0d0911;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    

    
    
    
}
#hello__I__am ::after{
    content: '|';
    margin-left: 1px ;
    animation: blink 0.7s infinite;
    color: #000000;
}

.animation__img{
    animation: animation__img 10s linear infinite;

}

@keyframes blink{
    0%{
        opacity: 1;
    } 
    100%{ opacity: 0;
    }
}
@keyframes animation__img{
    0%{
       
        transition: 0.5s;
        transform: translateY(-10%);
    }
   
    50%{
       
        transition: 0.5s;
        transform: translateY(10%);
    }
    100%{
        
        transition: 0.5s;
        transform: translateY(-10%);
    }
}

.name{
   
    color: #47103e;
    font-weight: 900;
    font-size: 50px; 
}


.apresentação p{
    margin-right: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    
}
.cor__text{
    font-weight: 900;
    font-size: 50px;
    color: #580c3f;
}



.dowload__cv{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    background: #0b0d25f6;
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    color: #fff;
    box-shadow: 1px 3px 3px #050505;
}

.dowload__cv a{
    color: #fff;
}

.dowload__cv a:hover{
    color: #070707;
}

.dowload__cv:hover{

    background: #fdf6fa8f;
    color: #070707;
    box-shadow: inset 0 0 0 1px;
}


.acess__lkd{
    cursor: pointer;
    background: rgba(88, 37, 71, 0.835);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 180px;
    box-shadow: 1px 3px 3px #050505;
}

.acess__lkd a{
    color: #fff;
    
}

.acess__lkd:hover{
    background: #137e9e77;
}

@media screen and (max-width:978px) {
    #container__apresentacão{
        width: 100%;
       
    } 
   #hello__I__am{
        width: 100%;
        font-size: 55px;
    }
    .name{ 
        width: 100%;
        font-size: 45px;
        display: flex;
       

    }
    
}
@media screen and (max-width:390px){
    .dowload__cv{
        width: 40%;
    }
    .dowload__cv a{
        font-size: 15px;
    }
    .acess__lkd{
        font-size: 15px; 
        width: 40%;

    }
    

}




/*-------------------*/


#sobre{
    
    
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
    width: 100%;
    align-items: center;
    display: flex;
    color: #fff;
    
    
    
}
 


.abaut__me{
    
    border-radius: 10px;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    
    width: 50%;
    display: flex;
    align-items: center;
    
}

.abaut__me p{
    margin: 10px 20px 20px ;
   
    display: flex;
    flex-wrap: wrap;
    cursor:context-menu;
    
}
.img__minha{
    padding: 20px;
}
#sobre h2{ 
    margin-left: 20px;
    font-weight: 600;
    cursor: context-menu;
    font-size: 45px;

}

@media screen and (max-width: 1158px) {
    .abaut__me{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 20px;
        flex-direction: column;
    }
    .name{ 
        width: 100%;
        display: flex;
        align-items: center;
        

    }
    
}





#box__hability{
    width: 100%;
    
    display: flex;
    height: 120vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
#box__hability h2{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
    color: #fff;
    
   
    
    
}
.my__skils{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}
.my__skils li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border:  1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1 1px 3px rgba(54, 22, 54, 0.61), 1 1px 2px rgba(0, 0, 0, 0.24) ;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}
.bar:hover{
    box-shadow: 0 14px 29px rgba(56, 19, 48, 0.842), 0 10px 10px rgba(0, 0, 0, 0.24) ;
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(151, 52, 112)0%, rgba(252, 103, 1)100%);
}
.html {
    width: 80%;
    animation: html 3s;
}
.css {
    width: 70%;
    animation: css 3s;
}
.javascript {
    width: 20%;
    animation: javascript 3s;
}
.python {
    width: 50%;
    animation: python 3s;
}

.sql {
    width: 10%;
    animation: python 3s;
}

.l__c{
    width: 0%;
    animation: l__c 3s;
}
.java {
    width: 0%;
    animation: java 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
@media screen and (max-width:824px) {
    #box__hability{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }
    #box__hability h2{
        font-size: 30px;
    }
    .my__skils{
        width: 80%;
    }

    
}
@media screen and (max-width:390px) {
    #box__hability{
        width: 100%;
        height: 200vh;
    }
}



/*-------------------*/


#projetos{ 
    display: flex;
    width: 100%;
   
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}
#projetos h2{
    
    margin-top: 10vh;
    font-weight: 600;
    font-size: 45px;
    color: #fff;
}
.my__projects{ 
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    
    
    
}
.pjct__one{ 
    cursor: pointer;
    margin: 5px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(3, 1, 12, 0.801);
    
    padding: 80px 80px 80px 80px;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    border-radius:10px ;
    
}


.pjct__one:hover{
    transform: scale(1.5,1.5);

}
@media screen and (max-width: 735px) {
    #projetos{
        flex-direction: column;
        display: flex;
        width: 100%;
    }
    
}


/*-------------------*/





/*-------------------*/


#contatos{
    
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}
#contatos h2{
    margin-top: 10vh;
    margin-top: 55px;
    font-weight: 600;
    color: #fff;
    font-size: 45px;
}
.container__contatos{
    margin-top: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container__contatos :nth-child(2){
    transition-delay: 400ms;

}
.container__contatos :nth-child(3){
    transition-delay: 400ms;

}
.container__contatos :nth-child(4){
    transition-delay: 700ms;

}

.ico__ct{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.ico__ct a{
    color: #ffffff;
    margin: 5px;
    font-size: 15px;
}
.ico__ct a p{
    color: #ffffff;
    font-size: 20px;
}
.ico__ct a p:hover{
    color: #810959;

}



@media screen and (max-width: 1335px) {
    .container__contatos{
        width: 100%;
        display: flex;

    }
    .ico__ct img{
        width: 30px;

    }
    
}
@media screen and (max-width:390px) {
    #contatos{
        width: 100%;
        height: 100vh;
    }
    .container__contatos{
        width: 100%;
        display: flex;

    }
    .ico__ct img{
        width: 30px;

    }
    #contatos p{ 
        font-size: 15px;
    }
    
}


.container__botão__top{
    cursor: pointer;
    width: 40px;
    z-index: 1;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 0;


}

.top{
    background: transparent;
    
}


.top a p{
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 2%;
    background-color: #8822b17a ;
    color: #fff;
}



  .hiden{
    
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
    filter: blur(15px);

}
  .ms__sobre{
    
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0);
    filter: blur(0px);
}


.tema__pg{
    cursor: pointer;
    z-index: 1;
    width: 50px;
    position: fixed;
    top: 115px;
    right: 10px;

}
.fa-sun{
    color: #bbb4b4;
}
.fa-moon{
    color: #380427;
}

.branco#pag .menu a{
    color: white;
}
.branco#pag{
    background-color: rgb(183, 186, 199);
    color: #000000;

}
.branco#pag .menu__mobile{
    background-color: white;
    
}
.branco#pag #container__apresentacão{
    background: linear-gradient(rgba(201, 142, 219, 0.301), rgba(0, 0, 0, 0.719) ), url(https://github.com/JeffMrCastro/portfolio/blob/main/assets.img/back__fundo__sol.jpg?raw=true);
    background-size: cover;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    border-radius:10px ;
}
.branco#pag #container__apresentacão a{
    color: white;
}
.branco#pag .abaut__me {
    font-weight: 600;
    color: #000000;

}
.branco#pag h2 {

    color: black;
}
.branco#pag p{
    color: #000000;

}
.branco#pag a{
    color: #000000;
}
.branco#pag h3{
    color: #000000;
}


.branco#pag #projetos p{
    color: #f8f8f8;
}

.branco#pag .ico__ct a p:hover{
    color: #810959;

}

.branco#pag .menu a:hover{
    color: #9815cc7a;
}



    
    


