@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;900&display=swap');

:root {
    --back--body--header:#0e0c1a;
    --border--color:#380427;
    --back--menu-mobile:#02050f;
    --menu--hover: #9815cc7a;
    --colorfff:#fff;
    --color000: #000;
}


*{  
   
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
   
}
body{
    width: 100%;
    transition: background 800ms;
    background-color: var(--back--body--header);
    

}


/*-------------------*/
header{
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--back--body--header);
    border-bottom:  1px solid var(--border--color);
    padding: 1rem;
   
   
    
   
}




.menu{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
    
    width: 100%;
}


.menu ul{
    
    display: flex;
    flex-wrap: wrap;
}


.menu li{
   
    margin-left: 30px;
    flex-wrap: wrap;
    

}

.menu a{
    font-weight: 300;
    font-size: 25px;
    color: var(--colorfff);
    

}

.menu a:hover{
    color: var(--menu--hover);
}
.menu__mobile{
    margin-top: 90px;
    position: fixed;
    z-index: 1;
    
    
    padding: 0 0 200%;
    background-color: var(--back--menu-mobile);
}

.mobile__menu{
    
    margin-right: 20px;
    display: none;
    cursor: pointer;

    
    
}

.mobile__menu .linha {
    cursor: pointer;
    width: 35px;
    height: 4px;
    background-color: var(--menu--hover);
    margin: 6px;
    border-radius: 50px;
    
   
}
.menu__mobile{
    display: none;

    


}
.menu__mobile li{
    margin: 40px;
    
}
.menu__mobile li a{
    color: var(--colorfff);
    font-size: 35px;
   

}
.menu__mobile li a:hover{
    color: var(--menu--hover);
}

 


@media screen and (max-width:730px) {
    
   
    .menu{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        width: 100%;
        text-align: center;
        
    }
    .menu ul{
        display: none;
    }
    .logo:hover{
        transform: scale(1.2, 1.2);

    }
    .mobile__menu{
        display: block;
    }
    .mobile__menu button{
        cursor: pointer;
        background: transparent;
        border: none;
    }
    .menu__mobile{
        width: 100%;
        
    }

    .menu__mobile ul{
        display: flex;
        
        width: 100%;
        
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu__mobile li{
        display: block;
        margin-top: 10px;
        width: 100%;
       
    }
    .menu__mobile li a{
        color: var(--colorfff);
    }
    .open{
        display: block;
        filter: blur(0px);
        
    }
    
}

/*-------------------*/

#container__apresentacão{
    display: flex;
    background-image: url(https://github.com/JeffMrCastro/portfolio/blob/main/assets.img/Design%20sem%20nome%20(3).png?raw=true);
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    height: 70dvh;
   
}


.apresentação{
    margin-top: 12rem;
    align-items: center;
    direction: flex;
    
    
    margin-left: 18rem;
}

.img__design__fundo{
    margin-top: 200px;
    
}



#hello__I__am{
    width: 100%;
    font-weight: 900;
    font-size: 50px;
    color: var(--colorfff);
    display: flex;
    flex-direction: column;  
    
}
#hello__I__am ::after{
    content: '|';
    margin-left: 1px ;
    animation: blink 0.7s infinite;
    color: var(--color000);
}

.animation__img{
    animation: animation__img 10s linear infinite;

}

@keyframes blink{
    0%{
        opacity: 1;
    } 
    100%{ opacity: 0;
    }
}
@keyframes animation__img{
    0%{
       
        transition: 0.5s;
        transform: translateY(-10%);
    }
   
    50%{
       
        transition: 0.5s;
        transform: translateY(10%);
    }
    100%{
        
        transition: 0.5s;
        transform: translateY(-10%);
    }
}

.name{
   
    color: var(--border--color);
    font-weight: 900;
    font-size: 50px; 
}


.apresentação p{
    margin-right: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 35px;
    color: var(--colorfff);
    
}
.cor__text{
    font-weight: 900;
    font-size: 50px;
    color: var(--menu--hover);
}



.dowload__cv{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    background: var(--back--body--header);
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    color: var(--colorfff);
    box-shadow: 1px 3px 3px var(--color000);
}

.dowload__cv a{
    color: var(--colorfff);
}

.dowload__cv a:hover{
    color: var(--color000);
}

.dowload__cv:hover{

    background: #fdf6fa8f;
    color: var(--color000);
    box-shadow: inset 0 0 0 1px;
}


.acess__lkd{
    cursor: pointer;
    background: rgba(88, 37, 71, 0.835);
    color: var(--colorfff);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 180px;
    box-shadow: 1px 3px 3px var(--color000);
}

.acess__lkd a{
    color: var(--colorfff);
    
}

.acess__lkd:hover{
    background: #137e9e77;
}

@media screen and (max-width:978px) {
    #container__apresentacão{
        width: 100%;
       
    } 
   #hello__I__am{
        width: 100%;
        font-size: 55px;
    }
    .name{ 
        width: 100%;
        font-size: 45px;
        display: flex;
    

    } 
    .apresentação{
        margin-left: 1rem;
    }
    

    
    
}

@media screen and (max-width:390px){
    .dowload__cv{
        width: 40%;
    }
    .dowload__cv a{
        font-size: 15px;
    }
    .acess__lkd{
        font-size: 15px; 
        width: 40%;

    }
    .apresentação{
        margin-left: 1rem;
        
        
    }
    

}




/*-------------------*/


#sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
    width: 100%;
    align-items: center;
    display: flex;
    color: var(--colorfff);    
}
 


.abaut__me{
    
    border-radius: 10px;
 
    
    width: 60%;
    display: flex;
    align-items: center;
    
}

.abaut__me p{
    margin: 10px 20px 20px ;
   
    display: flex;
    flex-wrap: wrap;
    cursor:context-menu;
    
}
.img__minha{
    padding: 20px;
}
#sobre h2{ 
    margin-left: 20px;
    font-weight: 600;
    cursor: context-menu;
    font-size: 45px;

}

@media screen and (max-width: 1158px) {
    .abaut__me{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 20px;
        flex-direction: column;
        
    }
    .name{ 
        width: 100%;
        display: flex;
        align-items: center;
        

    }
    
}

@media screen and (max-width: 376px) {
    .abaut__me{
        padding-top: 8rem;
    }
}





#box__hability{
    width: 100%;
    
    display: flex;
    height: 120vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
#box__hability h2{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
    color: var(--colorfff);
    
   
    
    
}
.my__skils{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    color: var(--colorfff);
    padding: 20px;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    border-radius: 10px;
}
.my__skils li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border:  1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1 1px 3px rgba(54, 22, 54, 0.61), 1 1px 2px rgba(0, 0, 0, 0.24) ;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}
.bar:hover{
    box-shadow: 0 14px 29px rgba(56, 19, 48, 0.842), 0 10px 10px rgba(0, 0, 0, 0.24) ;
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(151, 52, 112)0%, rgb(68, 8, 70)00%);
}
.html {
    width: 100%;
    animation: html 3s;
}
.css {
    width: 100%;
    animation: css 3s;
}
.javascript {
    width: 80%;
    animation: javascript 3s;
}
.python {
    width: 90%;
    animation: python 3s;
}

.sql {
    width: 10%;
    animation: python 3s;
}

.l__c{
    width: 0%;
    animation: l__c 3s;
}
.java {
    width: 0%;
    animation: java 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
@media screen and (max-width:824px) {
    #box__hability{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }
    #box__hability h2{
        font-size: 30px;
    }
    .my__skils{
        width: 80%;
    }

    
}

@media screen and (max-width:390px) {
    #box__hability{
        width: 100%;
        height: 200vh;
    }
}



/*-------------------*/


#projetos{ 
    display: flex;
    width: 100%;
   
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}
#projetos h2{
    
    padding-top: 12vh;
    margin: 0;
    font-weight: 600;
    font-size: 45px;
    color: #fff;
}
.my__projects{ 
    display: flex;
    overflow-x: auto ;
    align-items: center;
    justify-content: center;
    width:59%;  
    height: 20rem; 
}
.my__projects::-webkit-scrollbar-thumb{
    background-color: transparent;
    
}
.my__projects::-webkit-scrollbar-track{
    background-color: transparent;
    
}
.pjct__one{ 
    cursor: pointer;
    margin: 5px;
    
    display: flex;
    flex-direction: column;
    min-width:110px ;
    height: 110px;
    
    background: rgba(3, 1, 12, 0.801);
    
    padding: 80px 80px 80px 80px;
    box-shadow: 5px 10px 28px 1px rgba(51, 1, 39, 0.815), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    border-radius:10px ;
    
}


.pjct__one:hover{
    transform: scale(1.1,1.1);

}

@media screen and (max-width: 855px){
    .my__projects{
        width: 73%;
    }
}
@media screen and (max-width: 475px) {
    #projetos{
        flex-direction: column;
        display: flex;
        width: 100%;
    }
    .my__projects{
        width: 100%;
    }
    
}


/*-------------------*/





/*-------------------*/


#contatos{
    padding-top: 80px;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}
#contatos h2{
    margin-top: 10vh;
    margin-top: 55px;
    font-weight: 600;
    color: var(--colorfff);
    font-size: 45px;
}
.container__contatos{
    margin-top: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container__contatos :nth-child(2){
    transition-delay: 400ms;

}
.container__contatos :nth-child(3){
    transition-delay: 400ms;

}
.container__contatos :nth-child(4){
    transition-delay: 700ms;

}

.ico__ct{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.ico__ct a{
    color: var(--colorfff);
    margin: 5px;
    font-size: 15px;
}
.ico__ct a p{
    color: var(--colorfff);
    font-size: 20px;
}
.ico__ct a p:hover{
    color: var(--menu--hover);

}



@media screen and (max-width: 1335px) {
    .container__contatos{
        width: 100%;
        display: flex;

    }
    .ico__ct img{
        width: 30px;

    }
    
}
@media screen and (max-width:390px) {
    #contatos{
        width: 100%;
        height: 100vh;
    }
    .container__contatos{
        width: 100%;
        display: flex;

    }
    .ico__ct img{
        width: 30px;

    }
    #contatos p{ 
        font-size: 15px;
    }
    
}


.top{
    background: transparent;
    
}


.top a p{
    background-color: var(--menu--hover);
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 2%;
    
    color: var(--colorfff);
}



  .hiden{
    
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
    filter: blur(15px);

}
  .ms__sobre{
    
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0);
    filter: blur(0px);
}


.tema__pg{
    cursor: pointer;
    z-index: 1;
    width: 50px;
    position: fixed;
    top: 115px;
    right: 0px;
    

}


.fa-sun{
    color: var(--colorfff);
}
.fa-moon{
    color: #380427;
}

.branco#pag .menu a{
    color: var(--colorfff);
}
.branco#pag{
    background-color: #b7bac7;
    color: var(--color000);

}
.branco#pag .menu__mobile{
    background-color: var(--colorfff);
    
}
.branco#pag #container__apresentacão{
    background-image: url(/assets.img/Design\ sem\ nome\ \(5\).png);
    background-size: cover;
}
.branco#pag #container__apresentacão a{
    color: var(--colorfff);
}
.branco#pag .abaut__me {
    font-weight: 600;
    color: var(--color000);

}
.branco#pag h2 {

    color: var(--color000);
}
.branco#pag p{
    color: var(--color000);

}
.branco#pag a{
    color: var(--color000);
}
.branco#pag h3{
    color: var(--color000);
}


.branco#pag #projetos p{
    color: var(--colorfff);
}

.branco#pag .ico__ct a p:hover{
    color: var(--menu--hover);

}

.branco#pag .menu a:hover{
    color: var(--menu--hover);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--border--color);
}  
::-webkit-scrollbar-track{
    background-color: var(--colorfff);
    
    
}  
    


